@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  font-family: "Tinos", serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url("../assets/img/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}

.logo {
  width: 250px;
}

.inputContainer {
  color: white;
  display: flex;
  font-size: 18px;
  gap: 18px;
  justify-content: center;
  margin-bottom: 24px;

  input {
    font-family: "Tinos", serif;
    background: none;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
  }
}

.btn {
  font-family: "Special Elite", system-ui;
  font-size: 17px;
  height: 30px;
  width: 140px;
  background: none;
  background-color: deepskyblue;
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 16px 10px 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: royalblue;
  }
}

.hidden {
  display: none;
}
