.mainScreen {
  height: 100vh;
  width: 100%;
  position: relative;

  .dataContainer {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
}
